{% extends "layouts/main.html" %}
{%block head%}
{{super()}}
{%endblock%}
{%block content%}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Status</th>
            <th>Job Id</th>
            <th>Date</th>
            <th>Progress</th>
            <th>Message</th>
            <th>Printer Id</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        {% for item in jobs%}
        <tr>
            <td>{{ item.status }}</td>
            <td>{{ item.job_id }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.progress }}</td>
            <td>{{ item.message }}</td>
            <td>{{ item.printer_id }}</td>
            <td>{{ item.price|round(2, 'common')}}</td>
            <td>{% if item.status == "Pending" %}<a href="{{url_for('purchase', job_id=item.job_id)}}">Pay</a>{% endif %}</td>
        </tr>
        {%endfor%}


    </table>
</div>
<script>setTimeout(function(){
   window.location.reload(1);
}, 5000);</script>
<a href={{url_for('index')}} class="btn btn-default">Upload new File</a>
{%endblock%}
