{% extends 'layouts/main.html' %}
{% block title %}G-code upload{% endblock %}
{% block content %}

<h1>Upload Successful!</h1>

Here are the files you just uploaded. Your form data was discarded in this demo
app, but if you check your terminal window you can see that all their names and
values were submitted to the server.<p>

<a href="{{ url_for('show_dashboard') }}">Back to front page</a><p>

{% for file in files %}
    <h2>{{ file }}</h2>
    <img src="{{ url_for('static', filename='uploads/{}/{}'.format(uuid, file)) }}">
{% endfor %}

</body>
</html>

{% endblock %}