{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">3D4all idea was born at HACK Yeah hackathon taking place in Krakow Tauron Arena</p>
<p>Our goal and vision is to give everyone access to cheap 3D print and enchance creativity and maker spirit to anyone who can't afford 3D printer on his own.</p>
<p>This is our proof of concept platform: consisting lightweight client deployed 'on the printer' providing access to our 3D printer and monitoring and central control server scheduling jobs and integrating payment via Paypal.</p>
<p>We definitly see chance that universities, campuses or other public facilities could adapt free, lightweight and lean solution and provide publicly available 3D printers for anyone who has creators spark inside, but due to economic inequality, its impossible rigth now.</p>
<p>Michał Cieślar, Patryk Bogusz, Mateusz Graboń - Kraków 29.10.2017</p>

{% endblock %}
