{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="backgrounded">
<div class="page-header">
  <h1>Welcome to 3D4all.com.pl </h1>
</div>
<a href="{{url_for('show_dashboard')}}">Go to dashboard</a>
</div>
{% endblock %}
