{% extends 'layouts/main.html' %}
{% block content %}

	<div class="container body">
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="pat049b-facilitator@gmail.com">
<input type="hidden" name="lc" value="PL">
<input type="hidden" name="item_name" value="Printing">
<input type="hidden" name="amount" value="{{ price }}">
<input type="hidden" name="currency_code" value="PLN">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="tax_rate" value="21.000">
<input type="hidden" name="shipping" value="0.00">
<input type="hidden" name="return" value="http://3d4all.com.pl/success/{{ job_id }}">
<input type="hidden" name="cancel_return" value="http://3d4all.com.pl/dashboard">
<input type="hidden" name="notify_url" value="http://3d4all.com.pl/ipn">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted">
<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
</form>

	</div>
{% endblock %}
<!--localhost -> 3d4all.com.pl    -->