{% extends 'layouts/main.html' %}
{% block content %}
	<div class="container">
		<p>Thanks for your purchase!</p>
		<a href="{{url_for('show_dashboard')}}">Go back to Dashboard!</a>
	</div>
{% endblock %}