{% extends 'layouts/main.html' %}
{% block title %}G-code upload{% endblock %}
{% block content %}

<h1>Upload your G-code here...</h1>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>Type your extra message here:</strong><br>
    <textarea rows="4" cols="40" name="textarea"></textarea><p>

    <strong>Files:</strong><br>
    Select files OR drag them into the box below.
    <input id="file-picker" type="file" name="file" accept="*" single><p>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input type="submit" value="Upload!" id="upload-button">
</form>

<script type="text/javascript" src="/static/js/uploadr.js" defer></script>
<script src="/static/js/libs/jquery-2.1.1.min.js"></script>

</body>
</html>

{% endblock %}
